<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/ekf_template.yaml" />
  </node>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu0" args="0.090, 0.009, 0.057 0 0 0 vtec_u3/base_link vtec_u3/imu" />

  <node pkg="robot_localization" type="processing.py" name="processing"/>
</launch>
